.sec1{
    .first-col{
        padding-right: 2px;
    }
    .second-col{
        padding-left: 2px;
    }
    .note-paragraph{
        margin-left: 0;
    }
}

/************** Small Size (sm) ***************/
@media all and (max-width: 767.98px) {
    .sec1{
        .count-row {
            .first-col{
                padding-right: 15px;
            }
            .second-col{
                padding-left: 15px;
            }
        }
    }
}
/************** Extra Small Size (xs) ***************/
@media all and (max-width: 575.98px) {
    .sec1{
        .first-col{
            padding-right: 15px;
        }
        .second-col{
            padding-left: 15px;
        }
    }
}